body {
  background: #1e1e1e;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 28px;
  text-align: right;
  margin-bottom: 15px;
  background: black;
  color: white;
  border: none;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 18px;
  font-size: 18px;
  background: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
}

button:hover {
  background: #505050;
}

.equal {
  background: #4CAF50;
}

.zero {
  grid-column: span 2;
}